In [ ]:
import pymysql
#连接数据库
db = pymysql.connect(
        host="localhost",
        user="root",
        password="123456",
        database = "book",
        charset="utf8")
cursor = db.cursor()
db = pymysql.connect(
        host="localhost",
        user="root",
        password="123456",
        database = "book",
        charset="utf8")
cursor = db.cursor()

cursor.execute('CREATE TABLE IF NOT EXISTS jingdong(网址 VARCHAR(255) NOT NULL, 价格 VARCHAR(255) NOT NULL,书名 VARCHAR(255) NOT NULL,书评 VARCHAR(255) NOT NULL,商店 VARCHAR(255) NOT NULL)')   
print('ok')

def connet(data):  #将数据保存到数据库
    db = pymysql.connect(host='localhost', user='root', password='123456', port=3306, database = "book")
    cursor = db.cursor()
    table = 'jingdong'
    keys = ', '.join(data.keys())
    values = ', '.join(['%s'] * len(data))    
    sql = 'INSERT INTO {table}({keys}) VALUES ({values})'.format(table=table, keys=keys, values=values)
    try:
        cursor.execute(sql, tuple(data.values()))
        db.commit()
    except:
        db.rollback()